# FastAPI: Framework principal
fastapi

# Uvicorn: Servidor para correr la API
uvicorn

# Firebase: Para la base de datos en la nube
firebase-admin

# Pydantic: Para validación de datos
pydantic

# Passlib: Para seguridad de contraseñas
passlib[bcrypt]

# PyJWT: Para tokens de seguridad
pyjwt

# SQLAlchemy: Para base de datos SQL local (Auditoría)
sqlalchemy

# Validacion de Forms (UploadFile)
python-multipart
