# FastAPI: Framework principal
fastapi
websockets

# Uvicorn: Servidor para correr la API
uvicorn

# SQLAlchemy: Para la base de datos
sqlalchemy

# Pydantic: Para validación de datos
pydantic

# Python-multipart: Para leer datos de formularios
python-multipart

# Aiosqlite: Conector asíncrono para SQLite
aiosqlite

# Passlib: Para seguridad de contraseñas
passlib[bcrypt]

# PyJWT: Para tokens de seguridad
pyjwt
